.coffee-header {
    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 60px; 
        
        @media(max-width: 650px) {
            margin-top: 35px;
        }

        @media(max-width: 425px) {
            margin-top: 25px;
        }
    }
    &__title {
        margin: 0;
        color: #fff;
        font-size: 40px;
        font-weight: 700;

        @media(max-width: 650px) {
            font-size: 30px;
        }
    }

}