@import '../../styles/general';

.footer {
    margin: auto;
    &__products {
        @media (min-height: 870px) {
            position: fixed;
            left: 50%;
            transform: translate(-50%);
            bottom: 10px;
        }
    }
}