.home-about {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .divider {
            margin-top: 20px;
        }
    }
    &__subtitle {
        font-size: 24px;
        margin: 0 auto;
        font-weight: 400;

        @media(max-width: 768px) {
            font-size: 22px;
        }
    }
    &__description {
        font-size: 14px;
        text-align: center;
        width: 590px;
        margin-top: 40px;
        margin-bottom: 0;
        &:last-child {
            margin-top: 20px;
        }

        @media(max-width: 768px) {
            width: auto;
        }

        @media(max-width: 425px) {
            font-size: 12px;
            margin-top: 25px;
        }
    
    }
}
