@import '../../styles/general';

.product {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 55px;
        padding: 70px 0 30px;

        @media(max-width: 900px){
            padding: 50px 25px 30px;
        }

        @media(max-width: 545px) {
            flex-direction: column;
            gap: 30px;
        }
    }
    &__image {
        img {
            max-width: 100%;
        }
    }
    &__about {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-subtitle {
            margin-bottom: 20px;
            margin-top: 0;
            font-size: 24px;
            font-weight: 400;
        }
        .divider {
            margin-bottom: 25px;
        }
    }
    &__description {
        align-self: flex-start;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 14px;
        max-width: 420px;
        span {
            font-weight: 700;
        }
    }
    &__price {
        margin: 0;
        align-self: flex-start;
        line-height: 35px;
        font-size: 24px;
        span {
            font-weight: 700;
            line-height: 20px;
            font-size: 14px;
        }
    }
}

