@import '../styles/variables.scss';

.coffee {
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        .error {
            font-size: 20px;
            font-weight: 700;
            margin: 0 auto;
            grid-column-start: 2;

            @media(max-width: 850px) {
                position: relative;
                margin-left: -57%;
            }

            @media(max-width: 575px) {
                grid-column-start: 1;
                position: static;
                margin: 0 auto;
            }
        }
        .error-message {
            grid-column-start: 2;

            @media(max-width: 850px) {
                position: relative;
                margin-left: -290px;
            }

            @media(max-width: 575px) {
                grid-column-start: 1;
                position: static;
                margin: 0 auto;
            }
        }
    }
    &__items {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 70px;
        grid-template: 1fr / repeat(3, 220px);

        @media(max-width: 850px) {
            grid-template: 1fr / repeat(2, 220px);
        }

        @media(max-width: 575px) {
            grid-template: 1fr / 220px;
            gap: 40px;
        }
    }
    &__item {
        &-img {
            margin: auto;
        }
        &-link {
            border-radius: 8px;
            background: $main-color;
            padding: 20px;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            scale: 1;
            transition: all 0.5s ease-in-out;

            &:hover {
                scale: 1.1;
                box-shadow: 15px 15px 3px $brown;
                background: $grey;
            }
        }
        &-title {
            color: $dark;
            margin: 0;
            font-size: 14px;
        }
        &-country {
            color: $dark;
            margin: 0;
            font-size: 14px;
            font-weight: 400;
        }
        &-price {
            color: $dark;
            margin: 0;
            font-size: 14px;
            font-weight: 700;    
        }
    }
}

