@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import '../styles/variables.scss';

* {
  box-sizing: border-box;
}
  


body {
  margin: 0;
  color: $dark;
  font-family: "Merienda", cursive;
}

