.about {
    &__container {
        display: flex;
        align-items: center;
        gap: 80px;
        padding: 70px 0 60px;
        justify-content: center;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 240px;
            background-color: #000;
            height: 1px;
            bottom: 0%;
        }

        @media(max-width: 750px) {
            flex-direction: column;
            gap: 40px;
            padding: 40px 25px 60px;
        }

        @media(max-width: 425px) {
            padding: 40px 25px 40px;
        }
    }
    &__image {
        max-width: 100%;
        object-fit: contain;
        img {
            max-width: 100%;
        }

        @media(max-width: 750px) {
            max-width: 55%;
        }
    }
    &__text {
        &-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 350px;
            .divider {
                margin-bottom: 25px;
            }
        }
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 400;
        margin: 0 0 20px;


    }
    &__description {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        &:first-of-type {
            margin-bottom: 20px;
        }

        @media(max-width: 425px) {
            font-size: 12px;
        }
    }
}

.products__container {
    padding: 60px 0 30px;
    .coffee__list {
        display: flex;
        justify-content: center;
    }
    a {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    }

    @media(max-width: 425px) {
        padding: 40px 0 30px;
    }
}

.coffee {
    &-header {
        background: url("../../assets/img/background_img/coffee_shop_our_coffee.png") no-repeat;
        background-size: cover;
        background-position: 45%, center;
        padding: 50px 0 85px 0;
        text-align: center;

        @media(max-width: 425px) {
            padding: 40px 0 45px 0;
        }
    }
}

.footer {
    margin: auto;

    .nav {
        margin: 0px;
        
        @media(max-width: 700px) {
            display: none;    
        }
    }
    .nav__item {
        color: #000;
        text-shadow: none;
        &::before {
            background-color:#000;
        }
        &_active {
            color: #000;
            &::before {
                background-color:#000;
            }
        }
    }
}

.not-found {
    .back-button {
        width: 190px;
        align-self: center;
    }
}

.back-button {
    align-self: flex-start;
    width: 80px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: 4px 4px 20px rgba(0,0,0,.5);
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    padding: 5px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    transition: all .4s ease-in;
    &::before {
        background-color: #000;
        bottom: 0;
        content: "";
        height: 0%;
        left: 0;
        position: absolute;
        transition: height .3s ease-in-out;
        width: 100%;
        z-index: -1;
    }
    &:hover {
		color: #fff;

		&::before {
			height: 100%;
		}
	}
}

