@import '../../styles/variables.scss';

.home-header {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .divider {
            margin-top: 10px;

            &::before,
            &::after {
                background-color: $white;
            }
        
        }
    }
    &__title {
        margin-top: 110px;
        margin-bottom: 0;
        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
        font-weight: 700;
        font-size: 40px;

        @media (max-width: 700px) {
            font-size: 30px;
            margin-top: 50px;
        }

        @media (max-width: 450px) {
            margin-top: 30px;
            font-size: 26px;
        }
    }
    &__subtitle {
        color: $white;
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0 0 0;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);

        @media (max-width: 700px) {
            font-size: 18px;
        }

        @media (max-width: 450px) {
            font-size: 16px;
        }    
    }
    &__button {
        position: relative;
        margin-top: 20px;
        text-decoration: none;
        padding: 5px 42px;
        color: $white;
        font-weight: 700;
        border-radius: 3px;
        border: 1px solid $white;
        background: rgba(196, 196, 196, 0.00);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 0.4s ease-in;
        z-index: 0;
        &::before {
            position: absolute;
            content: "";
            background-color:$white;
            width: 100%;
            height: 0%;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: height 0.5s ease-in-out;
        }

        &:hover {
            color: $dark;
            &::before {
                height: 100%;
            }
        }


    }





}  


